<h1 class="center">Edit Staff Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <!-- Begin form element, calls _form -->
    <div class="row">
      <%= render 'form' %>
    </div>
    <!-- Ends form element -->

  </div>
</div>

