<h1>About</h1>
<p>
     <font size=3>This is the about page for the Mayflower Directory. The Mayflower Directory was made so that
     there was a faster, more effeicient way to contact residents or staff within the Mayflower.
  <br/>
  <br/>

      <font size = 4> <b>FAQ (Frequently Asked Questions) </b></font>
    <br/>
    <br/>
    &bull; <font size=3> <b> Does this directory include everyone within the Mayflower?</b></font>
    <br/>
     <font size=3> No it does not, it only includes staff and residents who have agreed to have their information on this Directory.</font>
     <br/>
     <br/>
      &bull; <font size=3> <b> Will anyone be able to see the residents/staff contact information?</b>
      <br/>
       <font size=3> No it does not, only residents who have an account may be able to see residents/staff contact information.</font>
       <br/>
       <br/>
       &bull; <font size=3> <b> How can I add a new resident into the directory?</b>
       <br/>
       <font size=3> Only an administrator can add a new resident. If you need to contact an administrator, go to the contact page to find
       out how to contact an administrator.</font>
       
</p>
