<h1>About this Directory</h1>
<p>
     <font size=3>This is the about page for the Mayflower Residents Directory. The Mayflower Directory was created to make it easier
     for Mayflower residents to connect with each other.
  <br/>
  <br/>

      <font size = 4> <b>FAQ (Frequently Asked Questions) </b></font>
    <br/>
    <br/>
    &bull; <font size=3> <b> Does this directory include everyone within the Mayflower?</b></font>
    <br/>
     <font size=3> No, it only includes residents who have agreed to have their information shown on this Directory.</font>
     <br/>
     <br/>
      &bull; <font size=3> <b> Will anyone be able to see the residents' contact information?</b>
      <br/>
       <font size=3> No, only residents who have an account, or family members given access through a resident's account
       may be able to see residents' contact information.</font>
       <br/>
       <br/>
       &bull; <font size=3> <b> How can I update or correct my directory information?</b>
       <br/>
       <font size=3> Contact the directory administrator, Rita McVey, to give her your updated directory information. Her phone number is 641-236-6151 ext.193, and her email is rmcvey@mayflowerhomes.com </font>
       
</p>
