<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>

<body>
  <h1 class="center">Frequently Asked Questions</h1>

    <section>
      <h2 class="about__question"> Does this directory include everyone within the Mayflower?</h2>
      <p> No, it only includes residents who have agreed to have their information shown on this Directory.</p>
    </section>

    <section>
      <h2 class="about__question">  Will anyone be able to see the residents' contact information?</h2>
      <p> No, only residents who have an account, or family members given access through a resident's account may be able to see residents' contact information.</p>
    </section>

    <section>
      <h2 class="about__question"> How can I update or correct my directory information?</h2>
      <p> Contact the directory administrator, Rita McVey, to give her your updated directory information. Her phone number is <a href="tel:641-236-6151"> (641)-236-6151</a> ext.193, and her email is <a href="mailto:rmcvey@mayflowerhomes.com"> rmcvey@mayflowerhomes.com </a></p>
    </section>


</body>
