<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>

 <body>
     <div class="container1">
        <div class="row">
            	<h1 class="center">Departments</h1>
            </div>
        </div>

        <div class="row center" style="background-color: #f6f6f6; border-style: dashed; border-color: red; width: 100%">
        	<p class="center">STUB EMERGENCY MESSAGE</p>
        	<p class="center">In case of emergency, dail 911.</p>
        </div>

		<div class="row galleries">
	  		<div class="gallery">
	    		<a href="/department1">
        			<img src="http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6ju77n1b1l1t2d12or1vhf6o6p.jpg">
           			<h2 class="info">Facilities</h2></a>
	        	</div>
	    	    <div class="gallery">
	    	        <a href="/department1">
        			<img src="http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6kcb5m1a2trodpnp4j21nmt3u.jpg">
           			<h2 class="info">Dinning</h2></a>
	        	</div>
	    	    <div class="gallery">
	    	        <a href="/department1">
        			<img src="http://www.mayflowerhomes.com/wp-content/gallery-bank/original-images/o_19v6khnbp27b1foi11sc11mh3r8p.jpg">
           			<h2 class="info">Home Services</h2></a>
    			</div>
	    	    <div class="gallery">
	    	        <a href="/department1">
        				<img src="http://galined.com/wp-content/uploads/2017/06/Grinell-College.jpg">
           			<h2 class="info">Nursing</h2></a>
    			</div>
	     </div>
</body>
</html>