<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>

<body>
	<div class="container1">
    	<div class="row">
            <h1 class="center">Facilities</h1>
        </div>
    </div>
    

    <div class="col-md-4" style="background-color: #f6f6f6; height: 100%;">
    	<h2>Contact</h2>
    	<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Felement_origin_min_pic%2F16%2F11%2F22%2Fd0602bee0dc5e3ef2e3efef66cdc1c22.jpg&f=1" alt="duck" width="80%">
    	<p>Etiam et Sapien Laoreet</p>
    	<p>(641) 306-2470</p>
    	<a href="mailto:example@grinnell.edu">example@grinnell.edu</a>
    	
    </div>
    
    <div class="col-md-8">
    	<p>
    		<a href="/departments">Departments</a> > Facilities
    	</p>
    	
    	<h2>Description</h2>
    	<p>Etiam eu sapien et ex rutrum volutpat. Cras cursus urna ligula, non convallis dolor sodales non. Aliquam libero dolor, imperdiet quis ultricies in, tincidunt non velit. Fusce diam dolor, dictum cursus urna eu, sagittis laoreet metus. Vestibulum eget nisl scelerisque, ullamcorper lacus a, condimentum ipsum. Sed quis dui tempor, viverra arcu at, aliquam eros. Etiam at turpis et leo pretium congue. Pellentesque et nibh at nibh aliquam feugiat sed sit amet turpis. Ut sed porta neque, vitae ultricies libero. Proin ut urna eu arcu accumsan tempus sed ut mauris. Aenean placerat massa quis nulla laoreet, eu tincidunt dui rhoncus. Ut felis ex, finibus in elit sit amet, aliquet bibendum sapien. Vivamus congue tellus eget libero rhoncus, pretium accumsan justo elementum. </p>
    	
    	<h2>Services</h2>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin dignissim nibh vitae lobortis. Nulla vel pretium tortor, at ultricies risus. Suspendisse id consectetur eros. Integer a mi consectetur, tempor nisl quis, mollis nisl. Aliquam nec purus enim. Proin elementum consequat ex, vel vestibulum nulla. Suspendisse potenti. Donec tempus libero a consequat convallis. Nam pulvinar non tortor eu vestibulum. </p>
    	<ul>
    		<li>Suspendisse ac euismod felis.</li>
    		<li>Integer eu libero hendrerit,</li>
    		<li>feugiat risus vitae, laoreet risus.</li>
    	</ul>
    	
    	<h2>Staff</h2>
    	<!-- print staff profiles-->
    	<div class="col-md-3 staff-profile">
    		<img>
    		<p>Etiam et Sapien Laoreet</p>
    	</div>
    	
    	<div class="col-md-3 staff-profile">
    		<img>
    		<p>Vivamus Congue</p>
    	</div>
    	
    	<div class="col-md-3 staff-profile">
    		<img>
    		<p>Bibendum Sapien</p>
    	</div>
    	
    	<div class="col-md-3 staff-profile">
    		<img>
    		<p>Laoreet Lectus</p>
    	</div>
    	
    	<div class="col-md-3 staff-profile">
    		<img>
    		<p> Id Imperdiet</p>
    	</div>
    	
    	<br>
    </div>
        



</body>
</html>