<html>
 <head>
   <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
 </head>

 <body>
     <h1 class="centered">Contact</h1>

         <p>If you have any questions, you may contact:</p>

         <h2 class="contact-group">Mayflower Resident Association (MRA) Representatives:</h2>
         <ul>
           <li>Kent McClelland:      <a href="mailto:mcclel@grinnell.edu"> mcclel@grinnell.edu </a></li>
           <li>Katherine McClelland: <a href="mailto:mcclella@grinnell.edu"> mcclella@grinnell.edu </a></li>
           <li>Karen Phillips:       <a href="mailto:ksiglerphillips@gmail.com"> ksiglerphillips@gmail.com </a></li>
           <li>Edward Phillips:      <a href="mailto:phillips@grinnell.edu"> phillips@grinnell.edu </a></li>
           <li>Selva Lehman:         <a href="mailto:selvalehman@gmail.com"> selvalehman@gmail.com </a></li>
         </ul>

         <h2 class="contact-group"> Administrators:</h2>
         <p>Rita McVey: <a href="tel:641-236-6151"> (641)-236-6151</a> ext.193,<a href="mailto:rmcvey@mayflowerhomes.com"> rmcvey@mayflowerhomes.com </a></p>

         <h2 class="contact-group"> External Resources:</h2>
         <p>Barbara Johnson: <a href="mailto:johnsonba@grinnell.edu"> johnsonba@grinnell.edu </a></p>


</body>