<h1>Contact</h1>
<p>
<<<<<<< HEAD
  Get help on the Mayflower Directory contact, 
  You may contact your MRA representative, Kent McClelland, at [mcclel@grinnell.edu]
  or you may contact an admin at [admin@sample.com]
=======
    <br/>
  <font size=3>This is the Mayflower Directory built by students of Grinnell College Computer Science department.
  <br/>
  <br/>
  <font size = 4> <b>Team Members (alphabetical order): </b></font>
  <br/>
  Eli Salm <br/>
  [salmeli@grinnell.edu]
  <br/><br/>
  Harriet P ("Hattie") Zucker <br/>
  [zuckerha17@grinnell.edu]
  <br/><br/>
  Jong Hoon Bae <br/>
  [baejongh@grinnell.edu]
  <br/><br/>
  Kathryn R Yetter <br/>
  [yetterka@grinnell.edu]
  <br/><br/>
  Ryan T Galang <br/>
  [galangry@grinnell.edu]
  <br/><br/>
  Shida Jing <br/>
  [jingshid@grinnell.edu]
  <br/>
  
  <br/>
  <font size = 4> <b> Instructors (alphabetical order): </b> </font>
  <br/>
  Adam B Hudson<br/>
  [hudsonad17@grinnell.edu]
  <br/><br/>
  Samuel Rebelsky<br/>
  [rebelsky@grinnell.edu]
  <br/><br/>
  
  <font size = 5> <i><b>For future developers only: </b></i></font> <br/><br/>
  <font size = 4> <b>Project Github Page: </b></font> <br/>
  <a href="https://github.com/baejongh/we-do-stuff-again">Click here to open Github page. 
  If the page is not found, contact Jong Hoon Bae [baejongh@grinnell.edu].</a>
  <br/><br/>
  
  <font size = 4> <b>Project Waffle Page: </b></font> <br/>
  <a href="https://waffle.io/baejongh/mayflower">Click here to open Waffle page. 
  If the page is not found, contact Jong Hoon Bae [baejongh@grinnell.edu].</a>
  <br/><br/>
  
  <font size = 4> <b>External resources: </b></font> <br/>
  <a href="https://www.railstutorial.org/book"> Ruby On Rails text book.</a>
  <br/>
  <a href="http://www.cs.grinnell.edu/~rebelsky/Courses/CSC322/2017S/"> Samuel Rebelsky's class page (schedule, syllabus, etc.)</a>
  <br/><br/>
  <font>
>>>>>>> master
</p>
