<html>
 <head>
   <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
 </head>
 
 <body>
     <div class="title">
         <font size=7>Contact</font>
     </div>
     <div class="contact">
         <p>
         <br/>
         <font size=4>If you have any questions, you may contact:
         <br/>
         <br/>
         <font size=5> <u><b>Mayflower Resident Association (MRA) Representatives:</b></u></font>
         <br/>
           Kent McClelland:      <a href="mailto:mcclel@grinnell.edu"> mcclel@grinnell.edu </a> <br/>
           Katherine McClelland: <a href="mailto:mcclella@grinnell.edu"> mcclella@grinnell.edu </a> <br/>
           Karen Phillips:       <a href="mailto:ksiglerphillips@gmail.com"> ksiglerphillips@gmail.com </a> <br/>
           Edward Phillips:      <a href="mailto:phillips@grinnell.edu"> phillips@grinnell.edu </a> <br/>
           Selva Lehman:         <a href="mailto:selvalehman@gmail.com"> selvalehman@gmail.com </a> <br/>
         <br/>
         <font size = 5> <u><b> Administrators:</b></u></font>
         <br/>
         Rita McVey: <a href="tel:641-236-6151"> (641)-236-6151</a> ext.193, <a href="mailto:rmcvey@mayflowerhomes.com"> rmcvey@mayflowerhomes.com </a>
         <br/><br/>
         
         <font size = 5> <u><b>External Resources:</b></u></font><br/>
         Sam Rebelsky: <a href="mailto:rebelsky@grinnell.edu"> rebelsky@grinnell.edu </a> <br/>
         Maisy Dodge:  <a href="mailto:dodgemai@grinnell.edu"> dodgemai@grinnell.edu </a> (Current Development Team Contact)
         <font>
         </p>
    </div>
</body>   