<h1>Contact</h1>
<p>
    <br/>
  <font size=3>This is the Mayflower Resident Directory. If you have any questions, you may contact:
  <br/>
  <br/>
  <font size = 4> <b>Mayflower Resident Association (MRA) Representatives </b></font>
  <br/>
  Kent McClelland:      <a href="mailto:mcclel@grinnell.edu"> mcclel@grinnell.edu </a>  <br/>
  Katherine McClelland: <a href="mailto:mcclella@grinnell.edu"> mcclella@grinnell.edu </a> <br/>
  Karen Phillips:       <a href="mailto:ksiglerphillips@gmail.com"> ksiglerphillips@gmail.com </a> <br/>
  Edward Phillips:      <a href="mailto:phillips@grinnell.edu"> phillips@grinnell.edu </a> <br/>
  Selva Lehman:         <a href="mailto:selvalehman@gmail.com"> selvalehman@gmail.com </a> <br/>
  <br/><br/>

  <font size = 4> <b> Administrators: </b> </font>

  <br/>
   Rita McVey: <a href="tel:641-236-6151"> (641)-236-6151</a> ext.193, <a href="mailto:rmcvey@mayflowerhomes.com"> rmcvey@mayflowerhomes.com </a>
  <br/><br/>
  

  
  <font size = 4> <b>External Resources: </b></font> <br/>
  Sam Rebelsky: <a href="mailto:rebelsky@grinnell.edu"> rebelsky@grinnell.edu </a> <br/>
  Pat Min: <a href="mailto:minpatri@grinnell.edu"> minpatri@grinnell.edu </a> (Current Development Team Contact)
  <br/><br/>
  <font>

</p>
