<h1>Contact</h1>
<p>
  Get help on the Mayflower Directory contact, 
  Kathryn Yetter [yetterka@grinnell.edu].
  <br/>
  For more information about the development team, visit the "About" page. The link is at the upper right coner of your screen.
</p>
