<h1>Contact</h1>
<p>
    <br/>
  <font size=3>This is the Mayflower Directory if you have any questions you may contact:
  <br/>
  <br/>
  <font size = 4> <b>MRA Representative </b></font>
  <br/>
  Kent McClelland <br/>
  [mcclel@grinnell.edu]
  <br/><br/>
  
  <br/>

  <font size = 4> <b> Administrator (alphabetical order): </b> </font>

  <br/>
  Administrator <br/>
  [admin@admin.com]
  <br/><br/>
  

  <font size = 4> <b>Project Waffle Page: </b></font> <br/>
  <a href="https://waffle.io/baejongh/mayflower">Click here to open Waffle page. 
  If the page is not found, contact Jong Hoon Bae [baejongh@grinnell.edu].</a>
  <br/><br/>
  
  <font size = 4> <b>External resources: </b></font> <br/>
  <a href="https://www.railstutorial.org/book"> Ruby On Rails text book.</a>
  <br/>
  <a href="http://www.cs.grinnell.edu/~rebelsky/Courses/CSC322/2017S/"> Samuel Rebelsky's class page (schedule, syllabus, etc.)</a>
  <br/><br/>
  <font>

</p>
