<html>
 <head>
   <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
 </head>
 
 <body>
     <div class="title">
         <font size=7>Contact</font>
     </div>
     <div class="contact">
         <p>
         <br/>
         <font size=4>If you have any questions, you may contact:
         <br/>
         <br/>
         <font size=5> <u><b>Mayflower Resident Association (MRA) Representatives:</b></u></font>
         <br/>
           Kent McClelland:      mcclel@grinnell.edu <br/>
           Katherine McClelland: mcclella@grinnell.edu <br/>
           Karen Phillips:       ksiglerphillips@gmail.com <br/>
           Edward Phillips:      phillips@grinnell.edu <br/>
           Selva Lehman:         selvalehman@gmail.com <br/>
         <br/>
         <font size = 5> <u><b> Administrators:</b></u></font>
         <br/>
         Rita McVey: 641-236-6151 ext.193, rmcvey@mayflowerhomes.com
         <br/><br/>
         
         <font size = 5> <u><b>External Resources:</b></u></font><br/>
         Sam Rebelsky: rebelsky@grinnell.edu <br/>
         Pat Min:      minpatri@grinnell.edu (Current Development Team Contact)
         <font>
         </p>
    </div>
</body>  
 
