<h1>Contact</h1>
<p>
    <br/>
  <font size=3>This is the Mayflower Directory if you have any questions you may contact
  <br/>
  <br/>
  <font size = 4> <b>MRA Representative </b></font>
  <br/>
  Kent McClelland <br/>
  [mcclel@grinnell.edu]
  <br/><br/>
  
  <br/>
  <font size = 4> <b> Administrators : </b> </font>
  <br/>
  Administrator <br/>
  [admin@admin.com]
  <br/><br/>
  
