<h1>Help</h1>
<p>
  Get help on the Mayflower Directory contact, 
  You may contact your MRA representative, Kent McClelland, at [mcclel@grinnell.edu]
  or you may contact an admin at [admin@sample.com]
</p>
