<h1>Contact</h1>
<p>
    <br/>
  <font size=3>This is the Mayflower Resident Directory. If you have any questions, you may contact:
  <br/>
  <br/>
  <font size = 4> <b>Mayflower Resident Association (MRA) Representatives </b></font>
  <br/>
  Kent McClelland      [mcclel@grinnell.edu] <br/>
  Katherine McClelland [mcclella@grinnell.edu] <br/>
  Karen Phillips       [ksiglerphillips@gmail.com] <br/>
  Edward Phillips      [phillips@grinnell.edu] <br/>
  Selva Lehman         [selvalehman@gmail.com] <br/>
  <br/><br/>

  <font size = 4> <b> Administrators: </b> </font>

  <br/>
  Administrator A [bob@gmail.com]
  <br/><br/>
  

  
  <font size = 4> <b>External Resources: </b></font> <br/>
  Sam Rebelsky [REBELSKY@grinnell.edu] <br/>
  Ana Segebre  [segebres@grinnell.edu] (Current Development Team Contact)
  <br/><br/>
  <font>

</p>
