<h1>Mayflower Directory</h1>
<p>
    <font size = "4">
    Welcome to Mayflower Directiory.
    <br/>
    <br/>
    
    For more information about Mayflower,  
    <a href="http://www.mayflowerhomes.com/"> click here.</a>
    <br/>
    <br/>
    For today's weather report, 
    <a href="https://weather.com/weather/tenday/l/Grinnell+IA+50112:4:US"> click here.</a>
    <br/>
    <br/>
    To find out more about Grinnell, 
    <a href="http://www.grinnelliowa.gov/"> click here.</a>
    <br/>
    <br/>
    To contact web developers, visit the
    <a href="help"> Contact Page</a> 
        <br/>
    <br/>
    To change your password,   <%= link_to "click here", edit_user_registration_path %>
    </font>
    
    <% current_user.newUser %>
</p>