<h1>Mayflower: a place to call home.</h1>
<p>
    <br/>
    <font size = 4> Mayflower is a place to call home,
    <br/>
    with warm sunshine and charming blossoms.
    <br/>
    Every night you rest in comfy rooms. 
    <br/>
    Every morning you greet the glowing gloam.
    <br/>
    So join Mayflower, a place to call home,
    <br/>
    Loam, roam, dome, and gnome.
    <br/>
    <br/>
    Author: John Smith
    </font>
    
</p>