
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
 </head>
 
 <body>
     <div class="container">
        <div class="row">
            <center><h1>Mayflower Residents Directory</h1></center>

                <a href="https://www.accuweather.com/en/us/grinnell-ia/50112/weather-forecast/333134" class="aw-widget-legal">
                <!--
                By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
                -->
                </a><div id="awcc1522811744052" class="aw-widget-current"  data-locationkey="333134" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1522811744052"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </div>        
        
		<div class="row">
		    <div class="col">
	        	<div class="gallery">
	        	    <a href="http://www.mayflowerhomes.com/">
        			<img src="http://www.mayflowerhomes.com/wp-content/uploads/2013/02/newslider3.jpg" width="400" height="300"></a>
        				<h2>Mayflower Homes</h2>
           				<a class="info" href="http://www.mayflowerhomes.com/">Click to View</a>
    			</div>
    		</div>
	        <div class="col">
	        	<div class="gallery">
	        	    <a href="http://www.grinnelliowa.gov/">
        			<img src="http://www.grinnelliowa.gov/ImageRepository/Document?documentID=1346" width="400" height="300"> </a>
        				<h2>Grinnell, IA</h2>
           				<a class="info" href="http://www.grinnelliowa.gov/">Click to View</a>
    			</div>
	        </div>
	    	<div class="col">
	    	    <div class="gallery">
	    	        <a href="https://www.grinnell.edu/calendars/frontpage-hotevents">
        			<img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/rf/image_960w/2010-2019/WashingtonPost/2016/12/23/Local/Images/Grinnell_College_70.JPG&w=480" width="400" height="300"></a>
        				<h2>GC Events</h2>
           				<a class="info" href="https://www.grinnell.edu/calendars/frontpage-hotevents">Click to View</a>
    			</div>
	        </div>
	    </div>
	
	<p>
	    To contact an administrator or the web developers, visit the
        <a href="help"> Contact Page</a>.
        <br/>
        <br/>
        To change your password,   <%= link_to "click here", edit_user_registration_path %>
        </font>
    
        <% current_user.newUser %>
    </p>

</body>
</html>