<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>

<body>
  <h1 class="center">Library</h1>
  <p class="center">
    <a href=<%= home_path %>>Resources</a> > Library
  </p>

  <h2>List by Author</h2>
  <% if user_signed_in? && current_user.admin %>
    <p><a href="">Edit Document</a></p>
  <% end %>
  <a href="https://drive.google.com/file/d/1jluwHFk_KQ4wSf0OnX8Cg5-ujuCiq1g5/view?usp=sharing">Link</a>

  <h2>List by Title</h2>
  <% if user_signed_in? && current_user.admin %>
    <p><a href="">Edit Document</a></p>
  <% end %>
  <a href="https://drive.google.com/file/d/1CPT7nY94q1PJPe_jktP2uHLV1yPz5TNf/view?usp=sharing">Link</a>

  <h2>Mayflower Browsing Collection Locations</h2>
  <% if user_signed_in? && current_user.admin %>
    <p><a href="">Edit Document</a></p>
  <% end %>
  <a href="https://drive.google.com/file/d/1bEQCueAYYbPc4foTfqiV3yEXKM5AyXEh/view?usp=sharing">Link</a>

</body>