<% provide(:title, "Log in") %>
<h1>Search</h1>

<div class="row">
  <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Nickname:<br>
  <input type="text" name="nickname"><br>
  Phone(landline):<br>
  <input type="text" name="landline"><br>
  Phone(cell phone):<br>
  <input type="text" name="cellphone"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Address:<br>
  <input type="text" name="address"><br>
  Neighbourhood:<br>
  <input type="text" name="neighbourhood"><br>
  <br>
  <input type="submit" value="Search">
  <br>
  
</form>
  </div>
</div>