<% provide(:title, "Log in") %>
<div align="center">
  <br>
<br>

<div class="row">
  <div align="center">
    You don't have to fill all these boxes. Fill as much as you wish.
    <br>
    <br>
  <form>
  <input type="text" name="firstname" placeholder="First Name" style="width: 300px;"><br>
  <br>
  <input type="text" name="lastname" placeholder="Second Name" style="width: 300px;"><br>
  <br>
  <input type="text" name="nickname" placeholder="Nickname" style="width: 300px;"><br>
  <br>
  <input type="text" name="landline" placeholder="Landline" style="width: 300px;"><br>
  <br>
  <input type="text" name="cellphone" placeholder="Cell Phone" style="width: 300px;"><br>
  <br>
  <input type="text" name="email" placeholder="Email" style="width: 300px;"><br>
  <br>
  <input type="text" name="address" placeholder="Address" style="width: 300px;"><br>
  <br>
  <input type="text" name="neighborhood" placeholder="Neighborhood" style="width: 300px;"><br>
  <br>
  <br>
  <input type="submit" value="Search" style="width: 300px;">
  <br>
  
</form>
  </div>
</div>