<!DOCTYPE html>
<html>
  <head>  
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
  </head>

  <body>
    <h1>Directory</h1>
            <% @allProfiles.each do |profile| %>
                <script> require 'aws-sdk-s3'  </script>
        <%  s3 = Aws::S3::Resource.new(region: 'us-east-2', 
        credentials: Aws::Credentials.new(ENV['AWS_ACCESS_KEY_ID'], ENV['AWS_SECRET_ACCESS_KEY'])) %>
        <% bucket =  s3.bucket('mayflower-data') %>
        
        <% oldname = profile.last_name.to_s + ", " + profile.first_name.to_s+".png" %>
        <% oldname2 = profile.last_name.to_s + ", " + profile.first_name.to_s+".jpg" %>
        <% if ! profile.avatar.file.nil?
          imageURL = profile.avatar.url
        elsif bucket.object("images/" + oldname).exists?
          uploader = AvatarUploader.new
          uploader.retrieve_from_store!(oldname)
          imageURL = uploader.url
        #Refactor this condition later
        elsif bucket.object("images/" + oldname2).exists?
          uploader = AvatarUploader.new
          uploader.retrieve_from_store!(oldname2)
          imageURL = uploader.url
        else
          imageURL = image_url("Mayflower_Default_Photo.jpg")
        end %>
        <div class="column">      
        <img src="<%= imageURL %>" style="width:100%">
        <figcaption align="center"><%=profile.last_name %>, <%= profile.first_name%></figcaption>
        </div>
            <% end %>
        
    </body>
</html>
