<h1>Pictures</h1>
<main class="pictures">
  <!-- Display each profile -->
  <% @profiles.each do |profile|%>
    <!--<article class="">-->
      <a class="profile" href="<%= profile[:link] %>">
        <img class="profile__picture" src="<%=profile[:image_url] %>">
        <h2 class="profile__name">
          <%= profile[:name] %>
        </h2>
      </a>
    <!--</article>-->
  <% end %>
</main>
