<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <script> require 'aws-sdk-s3' </script>
  </head>

  <body>
    <h1>Pictures</h1>
    <div class="row">
        <!--Display each profile-->
        <% @viewableProfiles.each do |profile|%>
        <a href= <%= profile[:link] %>
          <div class="column">
            <div class="crop">
              <img src="<%=profile[:imageURL] %>">
            </div>
            <p style="font-size:1.25vmax;" align="center">
              <%= profile[:name] %>
            </p>
            </div>
        </a>
      <% end %>
    </div>
  </body>
</html>
