# stuff will go in the gitignore here #

MayflowerDirectory1.csv
*.png

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore misc. files
.DS_Store
