<h1 class="center">All Users</h1>



<!--function to search for user emails using the input typed into the search box-->
<script>
    function searchOnPage() {
        var searchInput = document.getElementById('search').value;
        window.find(searchInput);
        return true;
    }
</script>

<p id="notice"><%= notice %></p>

<ul class="users">
  <div class="search_feature">
    <form action="" id="form1" onsubmit="return false" class="btns-bar">
        <input size="40" placeholder="Enter name or email address to search" type="text" autofocus="autofocus" id="search">
        <input type="submit" class="btn btn-primary btn-medium" id="submit_form" onclick="searchOnPage()" value="Next">
        <%= link_to "Create User", new_user_registration_path, class: "btn btn-primary btn-medium" %>
    </form>
  </div>

  <%= render @users %>
</ul>
