<% if object.errors.any? %>
  <div id="error_explanation" class="error-messages">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul class="error-messages__list">
    <% object.errors.full_messages.each do |msg| %>
      <li class="error-messages__list-item"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>