<div class="nested-fields">
        <%= f.text_field :content, class: 'form-control inline service-form--textbox', placeholder: 'Enter service content' %>
        <div class="btn btn-alert service-btn--remove">
                <%= link_to_remove_association 'Remove', f %>
        </div>
</div>