



<h1 class="center">Editing <%= @department.name %> </h1>
<p class="row center"><a href="/departments">Departments</a> > <%= @department.name %></p>

<!-- Begin form element, calls _form -->
<div class="row">
    <%= render 'form' %>
</div>
<!-- Ends form element -->
