<h1 class="center">Departments</h1>

<p id="notice"><%= notice %></p>

<% if current_user.admin %>
  <center class="btns-bar">
    <div class="row">
      <%= link_to 'Create Department', new_department_path, class: "btn btn-primary btn-medium" %>
    </div>
  </center>
<% end %>

<% @departments.each do |department| %>
  <!-- TODO: truncated department.picture.url because of exception -->
  <%= render partial: "layouts/gallery_cardview", locals: { title: department.name, url: department_path(department.id), img: department.picture} %>
<% end %>