@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

/* Keep the follwoing html style for correct rem sizing */
html {
  font-size: 62.5%; /* 62.5% of 16px (default font size) = 10px */
}

body {
  padding-top: 100px;
  font-family: "Libre Franklin", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 50px;
}

h2 {
  font-size: 4.5rem;
  font-weight: bold;
  text: underline;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p,
ul {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.container {
  background: #ffffff;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.about__question {
  font-size: 2.5rem;
  font-weight: bold;
}

.form-horizontal {
  text-align: left;
}

/* header */
.navbar {
  /*navbar color*/
  background-color: #376e8c;

  /*behind text (kinda?)*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  .navbar-header {
    margin-left: 20px;
  }

  /*text*/
  li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  /*hover over text*/
  li a:hover {
    color: #376e8c;
    background-color: white;
  }

  .icon-bar {
    background-color: #ffffff;
  }
}
/*hover over text*/
li a:hover {
  color: #376e8c;
  background-color: white;
  text-decoration: none;
}

/* footer */

.footer {
  margin-top: 100px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 13pt;
}

.footer p {
  float: left;
}

.footer a {
  color: #555;
}

.footer a:hover {
  color: #860601;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 12px;
  text-decoration: underline;
}

/* error flags */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*Search form*/
.form-group {
  width: 100%;
  font-size: 16pt;
}

.btn-large {
  height: 30%;
  width: 30%;
  font-size: 200%;
  background-color: #376e8c;
  color: white;
  margin: 5px;
}
.btn-large:hover {
  background-color: #860601;
}

.form-control {
  font-size: 14pt;
  height: 50px;
}

.custom-select {
  height: 50px;
}

.reset {
  font-size: 15pt;
  color: #376e8c;
  text-decoration: underline;
}

.reset:hover {
  color: #860601;
}

/*home*/

.container1 {
  display: inline;
  justify-content: center;
}

.container1.row {
  align-self: center;
  position: relative;
  text-align: center;
}

.galleries {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  max-width: 30%;
  min-width: 350px;
  display: inline-block;
}

.gallery:hover {
  border: 2px solid #860601;
  color: #860601;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.info {
  padding: 15px;
  text-align: center;
  font-size: 2.5rem;
  color: #376e8c;
}

.info:hover {
  text-decoration: underline;
  color: #860601;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  select {
    -webkit-appearance: menulist;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    border-color: initial;
  }
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-large {
    height: 50%;
    width: 50%;
    font-size: 150%;
  }
  .col-md-8 {
    padding-top: 10%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .gallery {
    margin: auto;
    max-width: 100%;
    border: none;
  }
  .info {
    font-size: 150%;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.library-last_edited {
  margin-top: 50px;
}

.library-link {
  font-size: 2rem;
}

.contact--heading-admins {
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.icon-bar {
  background-color: #ffffff;
}

.gallery-background {
  background-color:blue;
}