// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dept-col--contact {
  background-color: #f6f6f6;
  height: 100%;
  padding-bottom: 50px;
}

.dept-col--description {
  padding-left: 20px;
}