// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dept-div--contact {
  background-color: #f6f6f6;
  height: 100%;
  padding-bottom: 50px;
}

.dept-div--main {
  padding-left: 20px;
}

.dept-div--profile {
  background-color: #f6f6f6;
  margin: 5px 0px 3px 0px;
  width: 260px;
  padding-bottom: 10px;
  display: inline-block;
  justify-content: center;

  a {
    color: white;
  }
}

.dept-div--profile:hover {
  a{
    text-decoration: none;

  }
}

.dept-div--profile_picture {
  max-width:250px;
  max-height:300px;
  width: auto;
  height: auto;
}


.service-btn--remove > a {
    color: white;
}