// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Fixing different size images
.img_container {
    width: 300;
}

/* resize images */
.img_container img {
    width: 90%;
}

.read_more, .read_less {  
  font-size: 20px;
  font-style: normal;
}

// Croping images for directory        
.crop {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.crop img {
  position: absolute;
  width: 100%;
}

//Displaying images in directory
* {
  box-sizing: border-box;
}

.column {
  width: 25%;
  float: left;
  padding-right: 5px;
  
}

@media only screen {
  .column:hover {
    opacity: 0.7;
    border: 1px solid #860601;
    color: #860601;
  }
}

/* Clearfix (clear floats) */
.row:after {
  content: "";
  clear: both;
  display: table;
}


//Printing format
@media print {
  body {
    width: 100%;
    color: #000;
    background-color: #fff;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
  }
  
  @page {
    size: letter; 
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .column {
    page-break-inside: avoid;
  }
  
  a[href]:after {
    content: none !important;
  }
}
