// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_container {
    width: 300px;
    height: 400px;
}

/* resize images */
.img_container img {
    width: 100%;
    height: auto;
}

/*
.read_more, .read_less {  
  font-family: 'Verdana';
  font-size: 16px;
  background-color: #376e8c;
  color: white;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  display: inline-block;
}
*/
.read_more, .read_less {  
  font-size: 20px;
  font-style: normal;
}

.bio{
  white-space: pre-wrap;
}