<footer class="footer">
  <p>
    The Mayflower Directory
    by <a href="http://www.cs.grinnell.edu/">Grinnell College Computer Science</a>
  </p>
  <nav>
    <ul>
      <li><%= link_to "Questions", '/about' %></li>
      <li><%= link_to "Contact", '/help' %></li>
      <li><%= link_to "Change Password", edit_user_registration_path %></li>
    </ul>
  </nav>
</footer>