<footer class="footer">
  <small>
    The Mayflower Directory
    by <a href="http://www.cs.grinnell.edu/">Grinnell College Computer Science</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/help' %></li>
      <li><%= link_to "Change Password", edit_user_registration_path %></li>
    </ul>
  </nav>
</footer>