
<a class="gallery" href=<%= url %>>
	<div class="gallery-picture_wrapper gallery-default_background">
		<%= image_tag(img, class: "gallery-image") %>
	</div>
 	<h2 class="info"><%= title %></h2>
</a>